.giffygram__feed {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.new_post_form{
    /* padding: 7rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_wrapper{
    display: flex;
    margin:.5rem;
}

.submit_new_post_wrapper{
    display: flex;
    justify-content: center;
}

.submit_new_post_button{
    margin:.25rem;
}

.cancel_new_post_button{
    margin: .25rem;
}

.post_wrapper{
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post_gif{
    border: solid black 3px;
    
}

.star_button{
    align-self:flex-end;
    width:25px;
    height:auto;
}

.favorite_false{
color:rgba(255, 255, 255, 0);
width:25px;
height:auto;
background-image:url("../images/favorite-star-blank.svg");
}

.favorite_true{
color:rgba(255, 255, 255, 0);
width:25px;
height:auto;
background-image:url("../images/favorite-star-yellow.svg");
}