@import 'navigation.css';
@import 'footer.css';
@import 'feed.css';
@import 'post.css';
@import 'updates.css';
@import 'message.css';
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
    color: #1a1a1afe;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

header {
    display: flex;
}



.actionIcon {
    height: 1.2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.highlight {
    border-color: purple;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
}

.loginForm {
   
    background-color: #181717c9;
       margin: 10% 0;
       padding: 25%;
       display: flex;
       flex-direction: column;
}

#logo {
    cursor: pointer;
}

.giffygram{
    background-color: #181717c9;
    color: white;
    text-shadow: rgb(87, 81, 81) .25rem .15rem;
}

#giffygram{
    text-shadow: rgb(87, 81, 81) .25rem .15rem;
}

.signUpForm{
    background-color: #181717c9;
        margin: 10% 0;
        padding: 25%;
        display: flex;
        flex-direction: column;
}

.login_header{
    text-align: center;
}