.directMessage {
    padding: 0.75rem 2rem 2rem 2rem;
    margin: 5rem 25% 0 25%;
    background-color: aliceblue;
    position: relative;
}

.message__input {
    width: 100%;
    margin: 0.5rem 0;
}

.select--friends {
    width: initial;
    margin: 0.5rem;
    font-size: large;
}

.message__section {
    font-size: large;
    margin: 0.75rem;
    width: max-content;
}

#directMessage__close {
    position: absolute;
    top: 0.25rem;
    right: 0.35rem;
    width: 1rem;
    height: 1rem;
    line-height: 0;
}

.messages {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    margin:2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .20rem .35rem rgba(38, 36, 36, 0.68);
}
    /* border: 1px dotted lightblue;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: rgb(87, 81, 81) .25rem .15rem;
    margin: 15px 10%;
    flex-basis: 75%;
    background-color: black;
    color: whitesmoke; */
/* } */

.message__author {
    font-weight: bold;
    margin-bottom: 1rem;
}

.is_read_button, .make_unread_button{
    margin: 1rem;
    color: #1a1a1afe;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 7px;
    margin: 1rem 3rem 1rem 35rem ;
    border-radius: 2rem;
}

.dm_header{
    text-align: center;
}

.messages_toggle{
    display: flex;
    justify-content: center;
    margin:1.5rem 0;
}

#read_messages, #unread_messages {
    margin: 0rem;
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    flex-basis: 50%;
    text-align: center;

}

.message_wrapper{
    margin:2rem;
}

.submit_new_message_wrapper{
    display: flex;
    justify-content: center;
    margin: 10rem 10rem
}