.directMessage {
    padding: 0.75rem 2rem 2rem 2rem;
    margin: 5rem 25% 0 25%;
    background-color: aliceblue;
    position: relative;
}

.message__input {
    width: 100%;
    margin: 0.5rem 0;
}

.select--friends {
    width: initial;
    margin: 0.5rem;
    font-size: large;
}

.message__section {
    font-size: large;
    margin: 0.75rem;
    width: max-content;
}

#directMessage__close {
    position: absolute;
    top: 0.25rem;
    right: 0.35rem;
    width: 1rem;
    height: 1rem;
    line-height: 0;
}

.messages {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    border: 1px dotted lightblue;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    margin: 15px 25%;
    flex-basis: 50%;
}

.message__author {
    font-weight: bold;
    margin-bottom: 1rem;
}

.is_read_button, .make_unread_button{
    margin: 1rem;
}

.dm_header{
    text-align: center;
}

.messages_toggle{
    display: flex;
    justify-content: center;
}

#read_messages, #unread_messages {
    margin: 1rem;
}