.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 1px solid rgb(61, 73, 77);
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: auto;
    box-shadow: .1rem .20rem rgba(46, 45, 45, 0.495);
}

.navigation__item {
    vertical-align: baseline;
}

.navigation__name {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.navigation__icon > img {
    height: 2rem;
}


.navigation__message {
    margin-left: auto;
    margin-right: 4em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation__message > img {
    height: 2rem;
}

.notification__count{
    background-color:goldenrod;
    font-size: small;
    position: absolute;
    padding:2px;
    top: 5px;
    left: 3rem;
    min-width: 1.25rem;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.navigation__messageItem {
    flex: 1;
}

.navigation__logout {
    margin-right: 2em;
}

#directMessageIcon {
    cursor: pointer;
}


.message_inbox{
    border: .1rem solid black;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 10rem ;
    background-color: rgba(255, 255, 33, 0.913);
    color: black;
    padding: .5rem;
    margin: 2.25rem .25rem .5rem .25rem ;
    box-shadow: rgb(87, 81, 81) .10rem .15rem;
}

.logo_title{
    display: flex;
    margin: 1rem 0 0 0 ;
}

.nav_buttons{
    display: flex;
    flex-basis: 72%;
    justify-content: flex-end;
   

}

#to_new_post_page_button{
    margin: 0 .25rem ;
}
#new_message_form{
    margin: 0 .25rem ; 
}


.profile_pic{
    height: 70px;
    width: auto;
    margin: .35rem ;
    border-radius: 2rem;
    border: rgba(255, 255, 255, 0.57) .15rem solid;
}
.profile_pic_top{
    height: 70px;
    width: auto;
    margin: 1rem 0 0 0;
    border-radius: 2rem;
    border: rgba(255, 255, 255, 0.57) .15rem solid;
}


#to_new_post_page_button,
#new_message_form{
    margin:2.5rem .25rem 1rem .25rem;
    padding: .35rem;
    border-radius: 3rem;
    box-shadow: rgb(87, 81, 81) .05rem .1rem;
}